@import "../../index.scss";

.mapView {
  display: flex;
  flex-direction: column;

  @media (min-width: 576px) {
    height: 85vh;
    width: 50%;
  }
}

.button {
  border: unset;
  border-radius: 5px;
  background-color: $mobilize-blue;
  color: white;
  font-weight: bold;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 8rem;
}
