.App {
  padding: 1rem;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  h1 {
    font-family: "Helvetica Neue";
    font-weight: 700;
    text-transform: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
  }
}
